{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Nexus Brew</title>
    <link rel="stylesheet" href="{% static 'auth.css' %}">
</head>
<body>

<div class="auth-container">
    <h2>Login</h2>

    <form method="POST">
        {% csrf_token %}
        <div class="input-group">
            <label>Username</label>
            <input type="text" name="username" required>
        </div>

        <div class="input-group">
            <label>Password</label>
            <input type="password" name="password" required>
        </div>

        <button type="submit" class="btn">Login</button>

        <p class="alt-text">
            Don't have an account? <a href="{% url 'signup' %}">Register</a>
        </p>
    </form>
</div>

</body>
</html>
